@import "../../../scss/main.scss";

.button {
  background-color: white;
  padding: 20px;
  border: 1px solid $darkgrey;
  font-weight: 300;
  line-height: 42px;
  width: 300px;
  font-size: 36px;
  text-transform: uppercase;
}
