@import "../../../scss/main.scss";

.button {
  background-color: white;
  padding: 20px;
  border: 1px solid $darkgrey;
  font-weight: 200;
  line-height: 42px;
  width: 300px;
  font-family: "Open Sans";
  font-size: 36px;
  text-transform: uppercase;
}

.small_button {
  background: none;
  border: 1px solid $brown;
  text-transform: none;
  font-size: 18px;
  font-weight: 400;
  width: 150px;
  padding: 0;
  margin-top: 30px;
  align-self: flex-end;
}
