@import "../../../../scss/main.scss";

nav:first-of-type {
  align-self: flex-end;
}

.upper_menu {
  font-size: 13px;
  li {
    border: 1px solid transparent;
  }
}

.active-upper,
.upper_menu > li:hover {
  border: 1px solid $yellow;
}
