@import "../../../scss/main.scss";

.organzations {
  display: flex;
  flex-direction: column;
  align-items: center;
  h3 {
    margin-top: 50px;
    height: 450px;
  }
  .title {
    margin-top: 100px;
  }
  .orgs_buttons {
    width: 50%;
    display: flex;
    justify-content: space-between;
    .button {
      padding: 5px 10px;
      width: 25%;
      border: 1px solid transparent;
      &:hover,
      &:active {
        border: 1px solid $brown;
      }
    }
  }
  p {
    max-width: 40%;
    margin-top: 50px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
  }
  nav {
    align-self: initial;
    margin-bottom: 30px;
    ul {
      display: flex;
      justify-content: space-between;
      li {
        width: initial;
        padding: 15px;
        font-size: 16px;
        border: 1px solid transparent;
        cursor: pointer;
        &:hover {
          border: 1px solid $brown;
        }
      }
    }
  }
}

.active {
  border: 1px solid $brown !important;
}

@media (max-width: 1400px) {
  .organzations {
    p {
      max-width: 90%;
      width: 90% !important;
    }
  }
  .orgs_buttons {
    flex-direction: column;
    width: 80% !important;
    button {
      padding: 0;
      width: 200px !important;
      align-self: center;
    }
  }
}
