@import "../../../scss/main.scss";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 85vh;
  background: url(../../../assets/Background-Contact-Form.jpg);
  background-size: cover;
  .contact_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background: rgba(245, 243, 243, 0.5);
    padding: 30px 0;
    .title {
      margin-right: 300px;
    }
    h2 + p {
      text-align: center;
      color: green;
      font-size: 14px;
      font-weight: bold;
      margin: 20px;
      margin-right: 300px;
      width: 250px;
      line-height: 30px;
    }
    form {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      font-weight: bold;
      margin-top: 20px;
      margin-right: 175px;
      width: 500px;
      & * {
        display: block;
        padding: 15px 0;
      }
      textarea {
        height: 100px;
        padding-top: 0;
      }
      input,
      textarea {
        background: none;
        width: 100%;
        border: none;
        border-bottom: 1px solid $brown;
        padding-bottom: 5px;
      }
      input::placeholder,
      textarea::placeholder {
        opacity: 0.7;
        font-family: $font-base;
      }
      input + p,
      textarea + p {
        color: red;
        font-size: 12px;
      }

      .name_email {
        display: flex;
        justify-content: space-between;
        & > * {
          width: 48%;
        }
      }
    }
  }
  input,
  textarea,
  h2 + p,
  button {
    background: rgba(245, 243, 243, 0.5) !important;
  }
}

@media (max-width: 1200px) {
  .contact {
    margin-top: 50px;
    height: auto;
  }
}

@media (max-width: 800px) {
  .contact {
    height: 100vh;
    .contact_content {
      background: rgba(245, 243, 243, 0.8) !important;
      form,
      .title,
      h2 + p {
        width: 300px !important;
        margin: auto !important;
      }
      input,
      textarea,
      h2 + p,
      button {
        background: none !important;
      }
    }
    .small_button {
      margin-top: 50px !important;
    }
  }
}
