@import "../../../scss/main.scss";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 85vh;
  max-height: 900px;
  margin-bottom: 20px;
  &::after {
    content: "";
    background: url(../../../assets/Background-Contact-Form.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;
    max-height: 900px;
    width: 100%;
    max-width: 1920px;
    opacity: 0.3;
    position: absolute;
  }

  .contact_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 150px;
    width: 450px;
    z-index: 1;
    form {
      display: flex;
      flex-direction: column;
      font-size: 16px;
      font-weight: bold;
      margin-top: 20px;
      & * {
        display: block;
        padding: 15px 0;
      }
      textarea {
        height: 100px;
        padding-top: 0;
        background: none;
      }
      input,
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid $brown;
        padding-bottom: 5px;
      }
      input::placeholder,
      textarea::placeholder {
        opacity: 0.5;
        font-family: $font-base;
      }
      .name_email {
        display: flex;
        justify-content: space-between;
        & > * {
          width: 48%;
        }
      }
    }
  }

  .social-media {
    margin: 0 150px;
    margin-bottom: -50px;
    z-index: 1;
    a {
      padding-left: 20px;
    }
  }
}
