@import "../../../scss/main.scss";

.about_us {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  background-color: $white;
  .about_content {
    margin: 50px auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      max-width: 650px;
      margin: 30px;
      font-size: 26px;
      line-height: 54px;
      text-align: center;
    }
    img {
      align-self: flex-end;
    }
  }
  img {
    max-width: 1050px;
  }
}

@media (max-width: 1400px) {
  .about_us {
    flex-direction: column;
    & > img {
      max-height: 30%;
      max-width: 90vw;
      align-self: center;
      margin-bottom: 30px;
    }
  }
}
