@import "./settings/reset";
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:100,200,300,400,600,700&display=swap");
@import "./settings/fonts";
@import "./settings/colors";

* {
  box-sizing: border-box;
}

body {
  font-family: $font_base;
}

#root {
  max-width: 1920px;
  margin: 0 auto;
  @media (max-width: 800px) {
    max-width: 100vw;
  }
}

a {
  color: $brown;
  text-decoration: none;
}
